<template>
    <div class="row">
        <div class="col-md-12 text-left">
            <h5 class="mt-1 mb-3 uk-text-bold">
                <i class="fas fa-chart-bar mr-2"></i> 
                Created by you  
            </h5>
        </div>
        <div class="col-md-3">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body p-3">
                <div class="rounded-img">
                    <img src="/assets/img/profile.png" alt="" class="uk-border-rounded">
                </div>
                <div class="mt-3">
                    <span class="uk-label uk-label-success">
                        MUAY THAI
                    </span>
                </div>
                <h3 class="uk-card-title mt-3 mb-0 ">
                    Beginner Muay Thai Class with World Champion
                </h3>

                <div class="instructor-profile-wrapper grey-box mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/profile.png" class="uk-border-circle"> 
                        </div>
                        <div class="col-sm-8 pl-0">
                            <label style="top:0; left:0" >Instructor</label>
                            <h3 class="uk-card-title mt-3 mb-0">
                                Andrew Miller
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="text-center status float-left mt-2">
                    <span class="ongoing">ongoing</span>
                </div>
                <div class="text-center float-right mt-2">
                    <a href="/company/1/services/education/class/1" class="edit-btn pl-3 pr-3">
                        <i class="fal fa-edit mr-2" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body p-3">
                <div class="rounded-img">
                    <img src="/assets/img/profile.png" alt="" class="uk-border-rounded">
                </div>
                <div class="mt-3">
                    <span class="uk-label uk-label-success">
                        MUAY THAI
                    </span>
                </div>
                <h3 class="uk-card-title mt-3 mb-0 ">
                    Beginner Muay Thai Class with World Champion
                </h3>

                <div class="instructor-profile-wrapper grey-box mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/profile.png" class="uk-border-circle"> 
                        </div>
                        <div class="col-sm-8 pl-0">
                            <label style="top:0; left:0" >Instructor</label>
                            <h3 class="uk-card-title mt-3 mb-0">
                                Andrew Miller
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="text-center status float-left mt-2">
                    <span class="ongoing">ongoing</span>
                </div>
                <div class="text-center float-right mt-2">
                    <a href="/company/1/services/education/class/1" class="edit-btn pl-3 pr-3">
                        <i class="fal fa-edit mr-2" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body p-3">
                <div class="rounded-img">
                    <img src="/assets/img/profile.png" alt="" class="uk-border-rounded">
                </div>
                <div class="mt-3">
                    <span class="uk-label uk-label-success">
                        MUAY THAI
                    </span>
                </div>
                <h3 class="uk-card-title mt-3 mb-0 ">
                    Beginner Muay Thai Class with World Champion
                </h3>

                <div class="instructor-profile-wrapper grey-box mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/profile.png" class="uk-border-circle"> 
                        </div>
                        <div class="col-sm-8 pl-0">
                            <label style="top:0; left:0" >Instructor</label>
                            <h3 class="uk-card-title mt-3 mb-0">
                                Andrew Miller
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="text-center status float-left mt-2">
                    <span class="ongoing">ongoing</span>
                </div>
                <div class="text-center float-right mt-2">
                    <a href="/company/1/services/education/class/1" class="edit-btn pl-3 pr-3">
                        <i class="fal fa-edit mr-2" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body p-3">
                <div class="rounded-img">
                    <img src="/assets/img/profile.png" alt="" class="uk-border-rounded">
                </div>
                <div class="mt-3">
                    <span class="uk-label uk-label-success">
                        MUAY THAI
                    </span>
                </div>
                <h3 class="uk-card-title mt-3 mb-0 ">
                    Beginner Muay Thai Class with World Champion
                </h3>

                <div class="instructor-profile-wrapper grey-box mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/profile.png" class="uk-border-circle"> 
                        </div>
                        <div class="col-sm-8 pl-0">
                            <label style="top:0; left:0" >Instructor</label>
                            <h3 class="uk-card-title mt-3 mb-0">
                                Andrew Miller
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="text-center status float-left mt-2">
                    <span class="ongoing">ongoing</span>
                </div>
                <div class="text-center float-right mt-2">
                    <a href="/company/1/services/education/class/1" class="edit-btn pl-3 pr-3">
                        <i class="fal fa-edit mr-2" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body p-3">
                <div class="rounded-img">
                    <img src="/assets/img/profile.png" alt="" class="uk-border-rounded">
                </div>
                <div class="mt-3">
                    <span class="uk-label uk-label-success">
                        MUAY THAI
                    </span>
                </div>
                <h3 class="uk-card-title mt-3 mb-0 ">
                    Beginner Muay Thai Class with World Champion
                </h3>

                <div class="instructor-profile-wrapper grey-box mt-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/profile.png" class="uk-border-circle"> 
                        </div>
                        <div class="col-sm-8 pl-0">
                            <label style="top:0; left:0" >Instructor</label>
                            <h3 class="uk-card-title mt-3 mb-0">
                                Andrew Miller
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="text-center status float-left mt-2">
                    <span class="ongoing">ongoing</span>
                </div>
                <div class="text-center float-right mt-2">
                    <a href="/company/1/services/education/class/1" class="edit-btn pl-3 pr-3">
                        <i class="fal fa-edit mr-2" aria-hidden="true"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>