<template>
<div class="row">
    <div class="col-md-12 text-left">
        <h5 class="mt-1 mb-3 uk-text-bold">
            <i class="fas fa-chart-bar mr-2"></i> Skill
        </h5>
    </div>
    
    <div class="col-sm-12" >
        <div class="grey-box pt-5 pb-5 pl-3 pr-3" style="background:#F8F9FA">
            <div class="row">
                <div class="col-md-3 col-sm-12 ">
                    <div class="form-group select-dropdown ">
                        <select label="text" required="required"
                            class="form-control uk-form-small pt-0 bg-blue uk-text-uppercase"
                            style="font-size: 11px">
                            <option value="th">Developer</option>
                            <option value="en">Programmer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 ">
                    <div class="form-group select-dropdown ">
                        <select label="text" required="required"
                            class="form-control uk-form-small pt-0 bg-blue uk-text-uppercase"
                            style="font-size: 11px">
                            <option value="th">Developer</option>
                            <option value="en">Programmer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 ">
                    <div class="form-group select-dropdown ">
                        <select label="text" required="required"
                            class="form-control uk-form-small pt-0 bg-blue uk-text-uppercase"
                            style="font-size: 11px">
                            <option value="th">Developer</option>
                            <option value="en">Programmer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <button @click="addLanguage(staffIndex)" style="border:1px solid #0B63F8 !important; color: #0B63F8 !important; width:100% !important"  class="cancel-btn border-0 mr-0 add-more-btn uk-text-uppercase" >
                        <i class="fas fa-plus mr-1" style="font-size: 10px;"></i> Add more
                    </button>
                </div>

                <div class="col-md-12 text-right mt-3 ">
                    <button href="#" class="cancel-btn border-0">
                        <i class="fas fa-minus-circle mr-2" aria-hidden="true"></i> Cancel
                    </button>
                    <button href="#" id="client" class="save-btn border-0 ml-2 mr-2">
                        <i class="fas fa-save mr-2" aria-hidden="true"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>