<template>
	<div>
		<section class="row">
			<div class="col-md-6">
				<div>
					<h3 class="page-title mb-1">
						{{ this.$route.meta.title }}
					</h3>
				</div>
				<div class="breadcrumb-container">
					<ul class="uk-breadcrumb">
						<li><span>Admin</span></li>
						<li><a href="/staff">Admin Users</a></li>
						<li><a href="">{{ this.$route.meta.title }}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 relative">
				
			</div>
		</section>
		<section class="tpui-container">
				<div class="row align-items-center mb-4" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: .row; delay: 0; repeat: false">
					<div class="col-md-12">
						<div class="grey-box p-3 pt-4">
							<div class="row">
                              <div class="col-md-6 text-left">
                                <h5 class="mt-1 mb-3 uk-text-bold"> <i class="fas fa-user mr-2"></i> Client </h5>
                              </div>
                              <div class="col-md-6 text-right">
                                <div class="switches-container w-200 uk-position-right" style="margin-right: 10px;">
                                    <input type="radio" id="active" name="status[type]" value="active" checked="checked" onclick="companyType()" required />
                                    <input type="radio" id="inactive" name="status[type]" value="inactive" onclick="companyType()" required />
                                    <label for="active" id="lbl_active"> Active </label>
                                    <label for="inactive" id="lbl_inactive"> Inactive </label>
                                    <div class="switch-wrapper">
                                      <div class="switch">
                                      <div id="lbl_active"> Active </div>
                                      <div id="lbl_inactive"> Inactive </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
							<div class="view-ui mt-2">
								<div class="row">
									<div class="col-md-3 relative pb-5">
										<div class="profile-img position-relative text-center">
												<span class="edit-btn">
													<input
													type="file"
													name="company-img"
													class="file-upload"
													id="file"
													ref="file"
													v-on:change="handleFileUpload()"
													/>
													<i class="fal fa-pen upload-button"></i> Change
												</span>
												<img src="/assets/img/user.jpg" alt="Border pill" uk-cover>
										</div>
										<div class="col-md-9">
										</div>
									</div>
									<div class="col-md-9">
										<div class="p-3">
											<div class="row p-0 pb-0 pt-2">
												<div class="col-md-4">
													<div class="form-group">
														<input type="text" name="company" class="form-control" value="Aracely" required>
														<label>First name</label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<input type="text" name="company" class="form-control" value="Nikol" required>
														<label>Last name</label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<select class="form-control" required>
															<option> Male </option>
															<option> Female </option>
														</select>
														<label>Gender</label>
													</div>
												</div>
												<div class="col-md-3 pr-0">
													<div class="form-group">
																<input type="text" name="company" class="form-control" value="25 December 1980" required>
																<label> Date of Birth</label>
													</div>
												</div>
												<div class="col-md-1 pl-0">
													<div class="form-group">
														<input type="text" name="lname"
															value="57" class="form-control" required>
														<label>Age</label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<select class="form-control" required>
															<option> Thailand </option>
														</select>
														<label>Nationality</label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<select class="form-control" required>
															<option> Admin </option>
														</select>
														<label>Position</label>
													</div>
												</div>
												
												<div class="clearfix"></div>
												<div class="col-md-12 mt-3 pl-3 pb-0 mb-0">
													<h6 class="uk-text-uppercase" style="color: #a5a5a5;"> Contact </h6>
												</div>

												
												<div class="col-md-4">
													<div class="form-group">
														<input type="text" name="company" class="form-control" value="schiller.dorcas@borer.com" required>
														<label> Email </label>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group vue-tel-input-wrapper">
														<template>
															<vue-tel-input v-model="phone"></vue-tel-input>
															<label>Phone Number</label>
														</template>
													</div>
												</div>
												<div class="col-md-4 text-right pt-1 pr-0">
													<a id="edit-btn" href="#" class=" edit-btns mt-3 pl-3 pr-3 pt-1"><i class="fas fa-pen mr-2" style="font-size: 13px !important;" aria-hidden="true"></i> Edit </a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class="col-md-12 pt-4">
						<div class="grey-box p-3 pt-4">		
							<div class="row">
								<div class="col-md-6 text-left">
									<h5 class="mt-1 mb-3 uk-text-bold"><i class="fas fa-file-invoice-dollar mr-2"></i> Mission Details </h5>
								</div>
								<div class="col-md-6 text-right">
									<a href="#" id="client" class="edit-btns"><i class="fas fa-plus-circle mr-2"></i> Add Address</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<ul uk-accordion>
										<li class="uk-open with-border">
											<a class="uk-accordion-title with-bg" href="#"> <i class="fas fa-calendar-week mr-2"></i> Period & location of the mission</a>
											<div class="uk-accordion-content p-3">
												<div class="row">
													<div class="col-md-12 uk-text-left">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Duration </h6>
													</div>
													<div class="col-md-6 col-sm-6 time uk-text-left"> 
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 25 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> - 30 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
													</div>
													<div class="col-md-6 col-sm-6 uk-text-right">
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0 uk-text-primary"> ฿20,500 - ฿25,500 </p>
													</div>
												</div>
												<hr>
												<div class="row mb-0 pb-0">
													<div class="col-md-12 time mb-0 pb-0"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Location </h6>
														<div class="p-3 relative">
															<div class="row pl-4 mission-location-field">
																<div class="location-icon col-md-4 pt-2 text-left"> 
																	<p class="pt-1"> BTS Thonglor </p>
																</div>
																<div class="col-md-8 text-left pt-2">
																	<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 25 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
																</div>
															</div>
															<div class="row pl-4 mission-location-field">
																<div class="location-icon col-md-4 pt-2 text-left"> 
																	<p class="pt-1"> BTS Thonglor </p>
																</div>
																<div class="col-md-8 text-left pt-2">
																	<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 25 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12"> 
														<div class="relative">
															<div class="row">
																<div class="col-md-6 text-left">
																	<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
																</div>
																<div class="col-md-6">
																	<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿20,500 - ฿25,500 </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="clearfix mt-3"></div>
									<ul uk-accordion>
										<li class="uk-open with-border">
											<a class="uk-accordion-title with-bg" href="#"> <i class="fal fa-user mr-2"></i> About client on mission</a>
											<div class="uk-accordion-content p-3">
												<div class="row">
													<div class="col-md-12 uk-text-left">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number of Client </h6>
													</div>
													<div class="col-md-6 col-sm-6 time uk-text-left"> 
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 2 People </p>
													</div>
													<div class="col-md-6 col-sm-6 uk-text-right">
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
												</div>
												<hr>
												<div class="row mb-0 pb-0">
													<div class="col-md-2 mb-0 pb-0 text-center">
														<img src="/assets/img/user.jpg" width="50px" height="50px" class="uk-border-circle">
													</div>
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Name: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> MR. Jackson Wang </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Phone Number: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> +66 089 232 2323 </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Nationality: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Thai </p>
													</div>
													<div class="mt-5 mb-3"></div>
													<div class="col-md-2 mb-0 pb-0"></div>
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Health Issue: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Broken Leg </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Blood Sickness: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> - </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Medical Need: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> - </p>
													</div>
												</div>
												<hr>
												<div class="row mb-0 pb-0">
													<div class="col-md-2 mb-0 pb-0 text-center">
														<img src="/assets/img/user.jpg" width="50px" height="50px" class="uk-border-circle">
													</div>
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Name: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> MRS. Hanah Gient </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Phone Number: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> +66 089 232 2323 </p>
													</div>
													<div class="col-md-3 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Nationality: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Thai </p>
													</div>
													<div class="mt-5 mb-3"></div>
													<div class="col-md-12">
														<div class="uk-placeholder uk-text-left pt-2 pb-2 p-2 border-radius-default bg-white">
															Take medication when under stressed
														</div>
													</div>
												</div>
												<hr>
												<div class="row mb-0 pb-0">
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Client Type: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> CEO, VIP, Celebrity </p>
														<div class="uk-placeholder uk-text-left pt-2 pb-2 p-2 bg-white">
															-
														</div>
													</div>
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Mission Type: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Night life, Under threat </p>
														<div class="uk-placeholder uk-text-left pt-2 pb-2 p-2 bg-white">
															Singer who's avoiding fans
														</div>
													</div>
													<div class="col-md-4 mb-0 pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Nationality: </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Thai </p>
														<div class="uk-placeholder uk-text-left pt-2 pb-2 p-2 bg-white">
															Singer who's avoiding fans
														</div>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12"> 
														<div class="relative">
															<div class="row">
																<div class="col-md-6 text-left">
																	<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
																</div>
																<div class="col-md-6">
																	<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿500 - ฿1,500 </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="clearfix mt-3"></div>
									<ul uk-accordion>
										<li class="uk-open with-border">
											<a class="uk-accordion-title with-bg" href="#"> <i class="far fa-car-alt mr-2"></i> Transportation for this mission </a>
											<div class="uk-accordion-content p-3">
												<div class="row">
													<div class="col-md-6 uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Own Transportation </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> No </p>
													</div>
													<div class="col-md-6 uk-text-left pb-3"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number of Passenger </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 4 People </p>
													</div>
													<div class="col-md-6 uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Need Transportation? </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Yes </p>
													</div>
													<div class="col-md-6 uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Schedule Transportation For </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 4 Days </p>
													</div>
													<div class="col-md-6 uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Can Bodyguard travel in your car? </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Yes </p>
													</div>
													<div class="col-md-6 uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Police Escort </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Yes | 4 Days </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12"> 
														<div class="relative">
															<div class="row">
																<div class="col-md-6 text-left">
																	<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
																</div>
																<div class="col-md-6">
																	<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿50,000 - ฿60,000 </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul uk-accordion>
										<li class="uk-open with-border">
											<a class="uk-accordion-title with-bg" href="#"> <i class="fas fa-user-tie mr-2"></i> Bodyguard on mission </a>
											<div class="uk-accordion-content p-3">
												<div class="row">
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number of Agent </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 3 </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Local / Expat </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Expat </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Profile </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> High </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Gender </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Male </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Spoken Language </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> TH, EN, ZH </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Armed </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Yes </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
													<div class="col-md-12 relative uk-text-left pb-3">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Accomodation </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Bodyguard Arrage </p>
														<p class="uk-text-uppercase uk-position-bottom-right uk-text-normal mt-1 mb-3 mr-2 uk-text-primary"> ฿500 - ฿1,500 </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12"> 
														<div class="relative">
															<div class="row">
																<div class="col-md-6 text-left">
																	<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
																</div>
																<div class="col-md-6">
																	<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿10,000 - ฿20,000 </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>

									<div class="clearfix mt-3"></div>

									<ul uk-accordion>
										<li class="uk-open with-border">
											<a class="uk-accordion-title with-bg" href="#"> <i class="far fa-siren-on mr-2"></i> Police escort for the mission </a>
											<div class="uk-accordion-content p-3">
												<div class="row">
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Meeting Location </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> BTS Thonglor </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Destination 1 </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Dusit Park </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0 time">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Date & Time </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 25 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number & Vehicle </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 4 Cars </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Meeting Location </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Central Chidlom </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Destination 1 </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Siam Paragon </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0 time">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Date & Time </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 28 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number & Vehicle </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 4 Cars </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Meeting Location </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> One Bangkok </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0"> 
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Destination 1 </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> Hotel Grand, Bangkok </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0 time">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Date & Time </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 30 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 10:03</span> </p>
													</div>
													<div class="col-md-3 relative uk-text-left pb-0">
														<h6 class="uk-text-uppercase uk-text-normal mt-0 mb-0 uk-text-light"> Number & Vehicle </h6>
														<p class="uk-text-uppercase uk-text-normal mt-1 mb-0"> 4 Cars </p>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-12"> 
														<div class="relative">
															<div class="row">
																<div class="col-md-6 text-left">
																	<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
																</div>
																<div class="col-md-6">
																	<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿10,000 - ฿20,000 </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<hr>
							<div class="row pt-2 pb-3">
								<div class="col-md-6 text-left">
									<p class="uk-text-normal uk-text-default uk-text-bold mt-0 mb-0"> Total </p>
								</div>
								<div class="col-md-6">
									<p class="uk-text-default uk-text-primary uk-text-bold mt-0 mb-0 uk-text-right"> ฿10,000 - ฿20,000 </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 pt-4">
						<div class="grey-box p-3 pt-4">		
							<div class="row">
								<div class="col-md-6 text-left">
									<h5 class="mt-1 mb-3 uk-text-bold"><i class="fas fa-file-invoice-dollar mr-2"></i> Quotation </h5>
								</div>
								<div class="col-md-6 text-right">
									<a href="#" id="client" class="edit-btns"><i class="fas fa-plus-circle mr-2"></i> Add Address</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table data-table table-round table-hover uk-animation-slide-bottom-small">
											<thead>
												<tr>
													<th scope="col" width="12%">Quotation ID</th>
													<th scope="col" width="5%"></th>
													<th scope="col" width="15%">Service Providers</th>
													<th scope="col" width="10%" class="text-center">No. of time bidding</th>
													<th scope="col" width="10%" class="text-center">Status</th>
													<th scope="col" width="10%" class="text-center">Price</th>
													<th scope="col" width="6%" class="text-right"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-left pl-3 pr-3"> QUO212345923 </td>
													<td><img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/07/door-company-logo.jpg" class="uk-border-circle" width="50px" height="50px" /></td>
													<td class="text-left pl-3 pr-3"><a href="#"> Amanda </a></td>
													<td class="text-center pl-3 pr-3">2</td>
													<td class="status text-center">
													<span class="approved">active</span>
													<!--
														<span v-if="list.status == 'failed'" class="cancelled">Failed</span>
														<span v-if="list.status == 'finished'" class="approved">Finished</span> 
													-->
													</td>
													<td class="time text-center pl-3 pr-3" style="font-size: 12px">
														฿ 10,500
													</td>
													<td class="text-right">
													<router-link :to="'/quotation/edit/1'">
														<a class="edit-btn"><i class="fal fa-edit"></i></a>
													</router-link>
													<a href="#" class="del-btn" v-on:click="del_method(id)"><i class="fal fa-trash-alt"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="modal-edit-address" uk-modal>
								<div class="uk-modal-dialog">
									<button class="uk-modal-close-default" type="button" uk-close></button>
									<div class="uk-modal-header">
										<h2 class="uk-modal-title">Edit Addresses</h2>
									</div>
									<div class="uk-modal-body">
										<div class="row">
											<div class="col-md-6 text-left">
												Labor
											</div>
											<div class="col-md-6 text-left">
												<div class="form-group">
													<input type="text" class="form-control" value="">
													<label></label>
												</div>
											</div>
										</div>
									</div>
									<div class="uk-modal-footer">
										<a href="#" class="delete-btns large uk-modal-close uk-float-right"><i class="fas fa-times-circle mr-2"></i> Cancel </a>
										<a href="#" id="client" class="edit-btns large uk-float-right mr-1"><i class="material-icons">save</i> Save</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
</template>
