<template>
    <fieldset style="background: none; border: none !important">
        <div class="row pl-0 pr-0">
        <div class="col-md-12 mt-3 pt-3">
            <h6 class="uk-text-uppercase pl-1 uk-text-bold"><i class="fas fa-file-alt mr-2"></i> Previous Invoice</h6>
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table data-table table-round table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th width="75%" class="text-left">Upload dated</th>
                    <th width="15%" class="text-left">File</th>
                    <th class="blankhead" width="100px"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left">
                    <span v-if="status = 'warning'" class="circle-icon warning"> <i class="fal fa-clock"></i> </span>
                            
                    <!-- <span v-if="status = 'success'" class="circle-icon success"> <i class="far fa-check"></i> </span>
                    <span v-if="status = 'danger'" class="circle-icon danger"> <i class="fal fa-times"></i> </span> -->

                    </td>
                    <td class="time" style="font-size: 12px">
                    <i class="fal fa-calendar mr-1 relative" aria-hidden="true" style="top: 1px"></i>
                    14 AUG 2022 <span class="end-time ml-1" style="font-size: 11px"> 20:03 </span>
                    </td>
                    <td class="text-left">
                    <p class="pt-0 pb-0 mt-0 mb-0">Passport.jpg</p>
                    </td>
                    <td class="text-right">
                    <span uk-lightbox>
                        <a
                        class="view-btn clickable only-icon pl-2 pr-2"
                        href="https://www.itwsf.com/Portals/0/Holographic-Passport-Film.jpg?ver=1Mjc1ciIZ-jzbuNI7QL1Ow%3D%3D"
                        data-caption="Passport.jpg"
                        ></a>
                    </span>
                    <a class="edit-btn pl-2 pr-2" data-toggle="collapse" data-target="#edit_invoice_file_1"
                        ><i class="fal fa-edit"></i
                    ></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="p-0">
                    <div id="edit_invoice_file_1" class="collapse">
                        <form>
                        <div class="p-4 bg-light" style="border: solid 1px #e9e9e9; padding-bottom: 20px !important">
                            <div class="row p-0 pb-0 mt-0 mb-0 view-ui">
                            <div class="col-md-12 p-0 pb-0 mt-0 mb-0">
                                <div class="js-upload uk-placeholder uk-text-center mt-0 mb-0">
                                <span uk-icon="icon: cloud-upload" class="mr-2 mt-1"></span>
                                <span class="uk-text-middle">Upload or Drag & Drop here</span>
                                <div uk-form-custom>
                                    <input type="file" multiple />
                                </div>
                                </div>
                                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                            </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="7">
                    <a
                        href="#"
                        class="
                        save-btn
                        sendmail-btn
                        border-0
                        mt-0
                        text-center
                        border-radius-default
                        uk-text-primary uk-text-uppercase
                        "
                        style="height: auto; width: auto !important; text-align: left !important"
                    >
                        <i class="fas fa-plus mr-1" aria-hidden="true" style="font-size: 12px; display: block"></i> Add more
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </fieldset>
</template>