<template>
  <div>
    <div class="earning-box">
      <ul class="nav nav-pills mb-4">
        <li><a data-toggle="pill" href="#today" class="active">Today</a></li>
        <li><a data-toggle="pill" href="#month" class="">Month</a></li>
        <li><a data-toggle="pill" href="#year" class="">Year</a></li>
      </ul>

      <div class="tab-content">
        <div id="today" class="tab-pane fade in active show">
          <div class="card-point text-center">
            <img src="/assets/img/currency-ico.svg" class="mb-4" />
            <h5 class="mb-2 text-white text-center">Total Earning</h5>
            <h4 class="mb-2 text-white text-center">$5000.00</h4>
          </div>
        </div>
        <div id="month" class="tab-pane fade">
          <div class="card-point text-center">
            <img src="/assets/img/currency-ico.svg" class="mb-4" />
            <h5 class="mb-2 text-white text-center">Total Earning Month</h5>
            <h4 class="mb-2 text-white text-center">$10000.00</h4>
          </div>
        </div>
        <div id="year" class="tab-pane fade">
          <div class="card-point text-center">
            <img src="/assets/img/currency-ico.svg" class="mb-4" />
            <h5 class="mb-2 text-white text-center">Total Earning Year</h5>
            <h4 class="mb-2 text-white text-center">$15000.00</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>