<template>
    <div class="row">
        <div class="col-sm-12 mb-2">
            <div class="form-group mb-2">
                <input type="text" class="form-control"  />
                <label for="">Course Name</label>
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control"  />
                        <label for="">Instructor</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="form-group mb-2">
                <select name="" id="" class="form-control">
                    <option value="">Other</option>
                </select>
                <label for="">Type of Course</label>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="form-group mb-2">
                <input type="text" class="form-control" value="Kick Boxing"  />
                <label for="">Please Specify</label>
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <div class="form-group">
                <textarea rows="15" name="desc_en" id="desc_en" class="form-control" onkeyup="count_char(this, 1000, '.desc_en_count')" maxlength="1000" autocomplete="off" required></textarea>
                <span class="uk-float-right mr-3 mb-3 charts uk-text-small uk-text-secondary"><span class="desc_en_count">0</span> / 1000</span>
                <label for="desc_en"> Description </label>
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <div class="form-group">
                <textarea rows="15" name="desc_en" id="desc_en" class="form-control" onkeyup="count_char(this, 1000, '.desc_en_count')" maxlength="1000" autocomplete="off" required></textarea>
                <span class="uk-float-right mr-3 mb-3 charts uk-text-small uk-text-secondary"><span class="desc_en_count">0</span> / 1000</span>
                <label for="desc_en"> Important note </label>
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <div class="form-group">
                <textarea rows="15" name="desc_en" id="desc_en" class="form-control" onkeyup="count_char(this, 1000, '.desc_en_count')" maxlength="1000" autocomplete="off" required></textarea>
                <span class="uk-float-right mr-3 mb-3 charts uk-text-small uk-text-secondary"><span class="desc_en_count">0</span> / 1000</span>
                <label for="desc_en"> course content </label>
            </div>
        </div>
    </div>
</template>