<template>
  <div>
  <!----- Header Title ----->
  <section class="row">
    <div class="col-md-6">
      <div>
        <h3 class="page-title mb-1">
            {{ this.$route.meta.title }}
        </h3>
      </div>
      <div class="breadcrumb-container">
        <ul class="uk-breadcrumb">
          <li><span>Admin</span></li>
          <li><a href="/company">Company</a></li>
          <li><a href="">{{ this.$route.meta.title }}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 relative"></div>
  </section>
  </div>
</template>