<template>

    <ul class="uk-pagination uk-flex-right uk-margin-medium-top" uk-margin>
        <li><a href="#" @click="backPage"><span uk-pagination-previous></span></a></li>
        <li v-for="item in paginationLists" :key="item" :class="(currentPage == (item+1))? 'uk-active' : ''">
            <a href="#" @click="goToPage((item+1))" >
                {{(item+1)}}
            </a>
        </li>
        <li><a href="#" @click="nextPage"><span uk-pagination-next></span></a></li>
    </ul>
   
</template>

<script>


export default {
    props:{
        totalPages: Number, page: Number
    },
    components: {
    },
    mounted() {
        console.log(this.totalPages)
        this.paginationLists = Array.from(Array(this.totalPages).keys())
        this.currentPage = this.page
    },
    data() {
        return {
            paginationLists: [],
            currentPage:1,
        }
    },
    methods: {

        nextPage() {
            if (this.currentPage !== this.totalPages) {
                this.currentPage++
            }
            this.goToPage(this.currentPage)
        },
        backPage() {
            if (this.currentPage !== 1) {
                this.currentPage--
            }
            this.goToPage(this.currentPage)
        },
        goToPage(numPage) {
            console.log(this.paginationLists)
            this.currentPage = numPage;
            this.$emit('getCurrentPagination', this.currentPage)
        }
       
    },
    filters: {
    }
}

</script>

<style scoped>
.uk-pagination>.uk-active>* {
    color: #75a9d1;
}
</style>