<template>
  <div>
    <section class="row">
      <div class="col-md-6">
        <div>
          <h3 class="page-title mb-1">
            "True Protection to Clients" Contract
          </h3>
        </div>
        <div class="breadcrumb-container">
          <ul class="uk-breadcrumb">
            <li><span>Admin</span></li>
            <li><a href="/contract-settings">Contract Settings</a></li>
            <li>"True Protection to Clients" Contract </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 relative">

      </div>
    </section>
    <section class="tpui-container">

      <div class="row align-items-center mb-4">
        <div class="col-lg-12">
          <div class="grey-box p-3 pt-4">
            <div class="row">
              <div class="col-md-6 text-left">
                <h5 class="mt-1 mb-4 uk-text-bold"> <i class="fas fa-file-alt mr-2"></i> Contract Details </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <fieldset class="pt-2">
                  <ul uk-tab>
                    <li class="uk-active"><a href="#" class="no-bullet"
                        style="text-transform: uppercase !important;">Contract Details (English)</a></li>
                    <li><a href="#" class="no-bullet" style="text-transform: uppercase !important;">Contract Details
                        (Thai)</a></li>
                  </ul>
                  <ul class="uk-switcher uk-margin mt-0 mb-0">
                    <li>
                      <div class="form-group ml-2">
                        <div class="form-group">
                          <client-only>
                            <VueEditor />
                          </client-only>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="form-group ml-2">
                        <div class="form-group">
                          <client-only>
                            <VueEditor />
                          </client-only>
                        </div>
                      </div>
                    </li>
                  </ul>
                </fieldset>
              </div>
              <div class="col-md-12 pl-4 pr-1 pb-3">
                <div class="row w-100 border-radius-default pb-0 mb-0">
                  <div class="col-md-7 mb-0 pb-0">
                    <button href="#" class="cancel-btn border-0"><i class="fas fa-minus-circle mr-2"
                        aria-hidden="true"></i> Cancel </button>
                  </div>
                  <div class="col-md-5 mb-0 pb-0 text-right">
                    <!--
                      ** Notes: Please check with Pong again, not sure it should be have "Save Draft" button on edit page. **

                      <button href="#" class="save-btn sendmail-btn border-0 uk-inline"><i class="far fa-check-circle mr-2"></i> Save draft </button> 
                    -->
                    <button href="#" id="client" class="save-btn border-0 ml-2 mr-2 uk-inline"><i class="fas fa-save mr-2" aria-hidden="true"></i> Save Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-4">
          <div class="grey-box p-3 pt-4">
            <div class="row">
              <div class="col-md-6 text-left">
                <h5 class="mt-1 mb-2 uk-text-bold"> <i class="fas fa-history mr-2"></i> Contract History </h5>
              </div>
            </div>
            <div class="view-ui mt-3 mb-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table data-table table-round table-hover">
                      <thead>
                        <tr>
                          <th scope="col" width="15%" class="text-left">Start Date</th>
                          <th scope="col" width="15%" class="text-left">End Date</th>
                          <th scope="col" width="20%" class="text-left">Type of Contract</th>
                          <th scope="col" width="20%" class="text-right">No. of signed</th>
                          <th scope="col" width="30%" class="text-right"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="time text-left pl-3 pr-3" style="font-size: 12px;">
                            <i class="fal fa-calendar mr-1 relative" style="top: 1px;"></i> 14 AUG 2022 <span
                              class="end-time ml-1" style="font-size: 11px;"> 10:03 </span>
                          </td>
                          <td class="time text-left pl-3 pr-3" style="font-size: 12px;">
                            <i class="fal fa-calendar mr-1 relative" style="top: 1px;"></i> 30 AUG 2022 <span
                              class="end-time ml-1" style="font-size: 11px;"> 22:00 </span>
                          </td>
                          <td class="text-left pl-3 pr-3"> True Protection to Clients </td>
                          <td class="text-right pl-3 pr-2"> 20 </td>
                          <td class="text-right">
                            <a href="#" class="download-btn clickable uk-text-uppercase display-inline-flex mr-1 uk-inline"><i class="fas fa-arrow-to-bottom mr-2"></i> Download PDF</a>
                            <span uk-lightbox>
                              <a href="https://dev.trueprotection.co.th/wp-content/uploads/2022/10/pdf-test.pdf" data-caption="True Protection to Clients" data-type="iframe" class="view-btn clickable only-icon pr-3 pl-3 uk-inline"></a>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
