<template>
  <div>
    <section class="row">
      <div class="col-md-6">
        <div>
          <h3 class="page-title mb-1">
            {{ this.$route.meta.title }}
          </h3>
        </div>
        <div class="breadcrumb-container">
          <ul class="uk-breadcrumb">
            <li><span>Admin</span></li>
            <li><a href="/contract-settings">Contract Settings</a></li>
            <li>{{ this.$route.meta.title }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 relative">

      </div>
    </section>
    <section class="tpui-container">

      <div class="row align-items-center mb-4">
        <div class="col-lg-12">
          <div class="grey-box p-3 pt-4">
            <div class="row">
              <div class="col-md-6 text-left">
                <h5 class="mt-1 mb-4 uk-text-bold"> <i class="fas fa-file-alt mr-2"></i> Contract Details </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <fieldset class="pt-2">
                  <ul uk-tab>
                    <li class="uk-active"><a href="#" class="no-bullet"
                        style="text-transform: uppercase !important;">Contract Details (English)</a></li>
                    <li><a href="#" class="no-bullet" style="text-transform: uppercase !important;">Contract Details
                        (Thai)</a></li>
                  </ul>
                  <ul class="uk-switcher uk-margin mt-0 mb-0">
                    <li>
                      <div class="form-group ml-2">
                        <div class="form-group">
                          <client-only>
                            <VueEditor />
                          </client-only>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="form-group ml-2">
                        <div class="form-group">
                          <client-only>
                            <VueEditor />
                          </client-only>
                        </div>
                      </div>
                    </li>
                  </ul>
                </fieldset>
              </div>
              <div class="col-md-12 pl-4 pr-1 pb-3">
                <div class="row w-100 border-radius-default pb-0 mb-0">
                  <div class="col-md-7 mb-0 pb-0">
                    <button href="#" class="cancel-btn border-0"><i class="fas fa-minus-circle mr-2"
                        aria-hidden="true"></i> Cancel </button>
                  </div>
                  <div class="col-md-5 mb-0 pb-0 text-right">
                    <button href="#" class="save-btn sendmail-btn border-0 uk-inline"><i
                        class="far fa-check-circle mr-2"></i> Save draft </button>
                    <button href="#" id="client" class="save-btn border-0 ml-2 mr-2 uk-inline"><i
                        class="fas fa-save mr-2" aria-hidden="true"></i> Save & Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
