<template>
    <div>
          <!----- Header Title ----->
      <div class="row">
        <div class="col-md-6">
          <div>
            <h3 class="page-title mb-1">
                  {{ this.$route.meta.title }}
            </h3>
          </div>
          <div class="breadcrumb-container">
            <ul class="uk-breadcrumb">
                <li><span>Admin</span></li>
                <li><a href="">{{ this.$route.meta.title }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 relative"></div>
      </div>
      
      <div class="row align-items-center mb-4">
        <div class="col-lg-12">
          <div class="grey-box p-3 pt-4">
            <div class="row">
              <div class="col-md-12 text-left">
                <h5 class="mt-1 mb-2 uk-text-bold"> Feed</h5>
                <div class="form-group">
                    <select class="form-control">
                        <option>-----</option>
                    </select>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left">
                <h5 class="mt-4 mb-2 uk-text-bold"> Feed URL</h5>
                <p class="mt-0 mb-0">Use the URL below to export all bookings based on the settings set above.</p>
                <p class="mt-0"><a href="#">url link</a></p>
              </div>
            </div>
            <div class="view-ui mb-2">
              <div class="row">
                <div class="col-md-6">
                    <h5 class="mt-4 mb-2 uk-text-bold"> Date</h5>
                    <div class="radiobox">
                        <label class="form_radio float-left mr-3" for="1st">
                            <input type="radio" name="date_export" id="1st" value="1st"  >
                            <span class="design"></span>
                            <span class="text">All bookings</span>
                        </label>
                        <label class="form_radio" for="2nd">
                            <input type="radio" name="date_export" id="2nd" value="2nd" >
                            <span class="design"></span>
                            <span class="text">From date</span>
                        </label>
                        <label class="form_radio" for="3rd">
                            <input type="radio" name="date_export" id="3rd" value="3rd" >
                            <span class="design"></span>
                            <span class="text">All future bookings</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mt-4 mb-2 uk-text-bold"> Vehicle</h5>
                    <div class="radiobox">
                        <label class="form_radio float-left mr-3" for="all_vehicle_types">
                            <input type="radio" name="vehicle_export" id="all_vehicle_types" value="all_vehicle_types"  >
                            <span class="design"></span>
                            <span class="text">All vehicle types</span>
                        </label>
                        <label class="form_radio" for="specific_vehicle_types">
                            <input type="radio" name="vehicle_export" id="specific_vehicle_types" value="specific_vehicle_types" >
                            <span class="design"></span>
                            <span class="text">Specific vehicle types</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mt-4 mb-2 uk-text-bold"> Type</h5>
                    <div class="radiobox">
                        <label class="form_radio float-left mr-3" for="all_vehicle_types">
                            <input type="radio" name="vehicle_export" id="all_vehicle_types" value="all_vehicle_types"  >
                            <span class="design"></span>
                            <span class="text">CSV</span>
                        </label>
                        <label class="form_radio" for="specific_vehicle_types">
                            <input type="radio" name="vehicle_export" id="specific_vehicle_types" value="specific_vehicle_types" >
                            <span class="design"></span>
                            <span class="text">iCal</span>
                        </label>
                        <label class="form_radio" for="specific_vehicle_types">
                            <input type="radio" name="vehicle_export" id="specific_vehicle_types" value="specific_vehicle_types" >
                            <span class="design"></span>
                            <span class="text">JSON</span>
                        </label>
                        <label class="form_radio" for="specific_vehicle_types">
                            <input type="radio" name="vehicle_export" id="specific_vehicle_types" value="specific_vehicle_types" >
                            <span class="design"></span>
                            <span class="text">XML</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Vin</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Vehicle Key</label>
                  </div>
                </div>      
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>License Plate</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" required>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                    </select>
                    <label>Vehicle Make</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" required>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                    </select>
                    <label>Vehicle Model</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" required>
                        <option>Premium</option>
                        <option>Economic Automatic</option>
                        <option>Economic Manual</option>
                        <option>SUV</option>
                    </select>
                    <label>Vehicle Class</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" required>
                        <option>Car</option>
                    </select>
                    <label>Vehicle Type</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Year</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Color</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date" class="form-control" value="" autocomplete="off" required>
                    <label>Available Date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date" class="form-control" value="" autocomplete="off" required>
                    <label>Available Until</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Odometer</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Fuel Level</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" required>
                        <option>Available</option>
                        <option>Dirty</option>
                        <option>Returned</option>
                        <option>Out of Service</option>
                        <option>On Sale</option>
                        <option>Sold</option>
                        <option>Complementary</option>
                        <option>New</option>
                        <option>Reserved</option>
                        <option>Stolen</option>
                    </select>
                    <label>Status</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" autocomplete="off" required>
                    <label>Current Location</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h5 class="mt-1 mb-3 uk-text-bold"><i class="fas fa-car mr-2"></i> Fleet</h5>
                </div>
            </div>
            <div class="row pb-4 pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Hardware ID</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Threshold to Trigger Coolant Temperature Alarm</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Min Battery Voltage to Trigger Low Battery Alarm</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h5 class="mt-1 mb-3 uk-text-bold"><i class="fas fa-car mr-2"></i> Depreciation Input</h5>
                </div>
            </div>
            <div class="row pb-4 pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Purchase Price</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Expected Rest Value</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Odometer at Purchase</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Purchase Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" value="" autocomplete="off" required>
                        <label>Depreciation Time (In Months)</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-right pt-0 mt-0 mb-4">
                <button href="#" id="client" class="save-btn border-0 ml-2 mr-2">
                <i class="fas fa-save mr-2" aria-hidden="true"></i> Save
                </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </template>
  
  
  
  <script>


  </script>
  
  <style scoped>
  .card-footer {
    text-align: right;
    position: relative;
    background: #fff;
  }
  .pagination {
    top: 20px;
    position: absolute;
    right: 0px;
    align-content: flex-end;
    text-align: end;
  }
  .radiobox {
    display: flex;
    margin-bottom: 20px;
  }
  label.form_radio {
    flex: 33.33%;
    top: 0;
  }
  label.form_radio .design {
    width:20px;
    height:20px
  }
  
  </style>