<template>
    <div class="row align-items-center mb-4">
        <div class="col-lg-12">
          <div class="grey-box p-3 pt-4">

            <div class="row">
              <div class="col-md-6 text-left">
                <h5 class="mt-1 mb-2 uk-text-bold">
                  <i class="fas fa-bookmark mr-2"></i> Reservations
                </h5>
              </div>
            </div>

            <div class="view-ui mt-2 mb-2">
              <div class="row">
                <div class="col-md-1">
                  <div class="btn-group" role="group">
                    <button style="padding-right: 15px;" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Open
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Json</a>
                      <a class="dropdown-item" href="#">XML</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <p>/api/{api-key›/Reservation?format=(json/xml}&ref_id={unique-id}</p>
                </div>
                <div class="col-md-3">
                  <p>Show Reservation details by Unique ID</p>
                </div>
              </div>
              <hr class="mt-0">
              <div class="row">
                <div class="col-md-1">
                  <div class="btn-group" role="group">
                    <button style="padding-right: 15px;" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Open
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Json</a>
                      <a class="dropdown-item" href="#">XML</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <p>/api/{api-key›/ReservationWeekMade?format=(json/xml}</p>
                </div>
                <div class="col-md-3">
                  <p>Return all reservations made this week</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
</template>