<template>
    <div class="row">
        <div class="col-md-6 text-left">
            <h5 class="mt-1 mb-2 uk-text-bold">
                <i class="fas fa-chart-bar mr-2"></i> 
                Data
            </h5>
        </div>
   
        <div class="col-md-12 p-0">
            <ul class="dashboard-page">
                <li class="one-value default blue">
                    <div class="icon">
                        <i class="far fa-male"></i>
                    </div>
                    <div class="result">
                        <div class="uk-text-center">
                            <div class="uk-width-1-1 main">
                                <span class="title">
                                    <span class="primary-title"> Male </span>
                                    <span class="sub-title"> Bodyguards </span>
                                </span>
                                <span class="value count border border-radius-default"> 1,520 </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="one-value default blue">
                    <div class="icon">
                        <i class="far fa-female"></i>
                    </div>
                    <div class="result">
                        <div class="uk-text-center">
                            <div class="uk-width-1-1 main">
                                <span class="title">
                                    <span class="primary-title"> Female </span>
                                    <span class="sub-title"> Bodyguards </span>
                                </span>
                                <span class="value count border border-radius-default"> 1,520 </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="one-value default blue">
                    <div class="icon">
                        <i class="fab fa-uncharted"></i>
                    </div>
                    <div class="result">
                        <div class="uk-text-center">
                            <div class="uk-width-1-1 main">
                                <span class="title">
                                    <span class="primary-title"> Armed </span>
                                    <span class="sub-title"> Bodyguards </span>
                                </span>
                                <span class="value count border border-radius-default"> 1,520 </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="one-value default blue">
                    <div class="icon">
                        <i class="fal fa-car"></i>
                    </div>
                    <div class="result">
                        <div class="uk-text-center">
                            <div class="uk-width-1-1 main">
                                <span class="title">
                                    <span class="primary-title mt-1"> Vehicle </span>
                                    <span class="sub-title"> </span>
                                </span>
                                <span class="value count border border-radius-default"> 1,520 </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>