<template>
    <section class="tpui-container mt-3">
        <div class="row align-items-center mb-4">
            <div class="col-lg-12">
                <div class="grey-box p-3 pt-4">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h5 class="mt-1 mb-2 uk-text-bold">
                                <i class="fas fa-clipboard-list mr-2"></i> Activity Logs
                            </h5>
                        </div>
                    </div>
                    <div class="view-ui mt-3 mb-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table data-table table-round table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="20%">Time</th>
                                                <th scope="col" width="auto">Detail</th>
                                                <th scope="col" width="20%">Page</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="time text-left pl-3 pr-3" style="font-size: 12px">
                                                <i class="fal fa-calendar mr-1 relative" style="top: 1px"></i> 14 AUG 2022
                                                <span class="end-time ml-1" style="font-size: 11px"> 10:03</span>
                                                </td>
                                                <td class="text-left pl-3 pr-3">Log out</td>
                                                <td class="text-left pl-3 pr-3"><a href="#"> Tim Duncan </a></td>
                                            </tr>
                                            <tr>
                                                <td class="time text-left pl-3 pr-3" style="font-size: 12px">
                                                <i class="fal fa-calendar mr-1 relative" style="top: 1px"></i> 13 AUG 2022
                                                <span class="end-time ml-1" style="font-size: 11px"> 10:03</span>
                                                </td>
                                                <td class="text-left pl-3 pr-3">Disable User</td>
                                                <td class="text-left pl-3 pr-3">-</td>
                                            </tr>
                                            <tr>
                                                <td class="time text-left pl-3 pr-3" style="font-size: 12px">
                                                <i class="fal fa-calendar mr-1 relative" style="top: 1px"></i> 12 AUG 2022
                                                <span class="end-time ml-1" style="font-size: 11px"> 10:03</span>
                                                </td>
                                                <td class="text-left pl-3 pr-3">Change Bodyguard Profile</td>
                                                <td class="text-left pl-3 pr-3"><a href="#"> #BG21213 </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <a href="#" class="btn loadmore-btn mt-4"> Load more </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>