<template>
<div class="p-3">
    <ul class="dashboard-page">
        <li class="one-value default blue">
            <div class="icon">
            <i class="far fa-bullseye-arrow"></i>
            </div>
            <div class="result">
            <div class="uk-text-center">
                <div class="uk-width-1-1 main">
                <span class="title">
                    <span class="primary-title"> Mission </span>
                    <span class="sub-title"> Cases </span>
                </span>
                <span class="value count"> 16,520 </span>
                </div>
            </div>
            </div>
        </li>
        <li class="one-value default blue">
            <div class="icon">
            <i class="fal fa-sack-dollar"></i>
            </div>
            <div class="result">
            <div class="uk-text-center">
                <div class="uk-width-1-1 main">
                <span class="title">
                    <span class="primary-title"> Revenue </span>
                    <span class="sub-title"> Net Amount </span>
                </span>
                <span class="value count"> 16,520 </span>
                </div>
            </div>
            </div>
        </li>
        <li class="one-value default blue">
            <div class="icon">
            <i class="far fa-chart-line"></i>
            </div>
            <div class="result">
            <div class="uk-text-center">
                <div class="uk-width-1-1 main">
                <span class="title">
                    <span class="primary-title"> Profit </span>
                    <span class="sub-title"> Net Amount </span>
                </span>
                <span class="value count"> 16,520 </span>
                </div>
            </div>
            </div>
        </li>
    </ul>
</div>
</template>